.footer__social-links {
  min-width: 170px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footer__social-links li:hover {
  animation: linkScale 1.4s;
}