.footer__row-rules {
  max-width: 1380px;
  margin: 0 auto 155px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1439px) {
  .footer__row-rules {
    margin: 0 auto 55px auto;
  }
}