.footer__row-content {
  min-height: 248px;
  margin: 0 0 100px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1439px) {
  .footer__row-content {
    margin: 0 0 40px 0;
  }
}