@import url(../vendor/normalize.css);

@import url(../blocks/html/html.css);

@import url(../blocks/wrapper/wrapper.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-content/header__main-content.css);
@import url(../blocks/header/__main/header__main.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__scroll/header__scroll.css);
@import url(../blocks/header/__scroll-arrow/header__scroll-arrow.css);
@import url(../blocks/header/__scroll-text/header__scroll-text.css);
@import url(../blocks/header/__search-form/header__search-form.css);
@import url(../blocks/header/__search-image/header__search-image.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__social-link/header__social-link.css);
@import url(../blocks/header/__social-links/header__social-links.css);
@import url(../blocks/header/__social-text/header__social-text.css);
@import url(../blocks/header/__social/header__social.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place_header/logo_place_header.css);

@import url(../blocks/chapter/chapter.css);
@import url(../blocks/chapter/__name/chapter__name.css);
@import url(../blocks/chapter/__span/chapter__span.css);

@import url(../blocks/background-gradient/background-gradient.css);
@import url(../blocks/background-image/background-image.css);

.main {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.card {
  display: flex;
}

.card__image {}

.card__description {
  margin: auto 0 auto 230px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__title {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}

.card__text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.card__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  color: #FBD784;
}