@import url(../vendor/normalize.css);

@import url(../blocks/html/html.css);

@import url(../blocks/wrapper/wrapper.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-content/header__main-content.css);
@import url(../blocks/header/__main/header__main.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__scroll/header__scroll.css);
@import url(../blocks/header/__scroll-arrow/header__scroll-arrow.css);
@import url(../blocks/header/__scroll-text/header__scroll-text.css);
@import url(../blocks/header/__search-form/header__search-form.css);
@import url(../blocks/header/__search-image/header__search-image.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__social-link/header__social-link.css);
@import url(../blocks/header/__social-links/header__social-links.css);
@import url(../blocks/header/__social-text/header__social-text.css);
@import url(../blocks/header/__social/header__social.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place_header/logo_place_header.css);

@import url(../blocks/chapter/chapter.css);
@import url(../blocks/chapter/__name/chapter__name.css);
@import url(../blocks/chapter/__span/chapter__span.css);
@import url(../blocks/chapter/_place_slide/chapter_place_slide.css);

@import url(../blocks/background-color/background-color.css);
@import url(../blocks/background-gradient/background-gradient.css);
@import url(../blocks/background-image/background-image.css);

@import url(../blocks/main/main.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__link/card__link.css);

@import url(../blocks/slide/slide.css);
@import url(../blocks/slide/__description/slide__description.css);
@import url(../blocks/slide/__link/slide__link.css);
@import url(../blocks/slide/__text/slide__text.css);
@import url(../blocks/slide/__title/slide__title.css);


.footer {
  max-width: 1460px;
  margin: 250px auto 0 auto;
}

.footer__row-pune {
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.01em;
}

.footer__question {
  display: flex;
}

.footer__question-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.3px;
}

.footer__question-btn {
  height: 69px;
  width: 239px;
  background: #FFA343;
  border-radius: 8px;
}

.footer__row-content {
  min-height: 248px;
  display: flex;
  align-items: flex-start;
}

.footer__title {
  min-width: 360px;
}

.footer__form {
  min-width: 400px;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

.footer__input {
  min-width: 325px;
  height: 67px;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.footer__btn-form {
  width: 69px;
  height: 69px;
  padding: 0;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
  border: none;
  z-index: 1;
}

.footer__about {}

.footer__about-title {}

.footer__about-links {
  list-style-type: none;
}

.footer__about-link {
  text-decoration: none;
}

.footer__help {}

.footer__help-title {}

.footer__help-links {
  list-style-type: none;
}

.footer__help-link {
  text-decoration: none;
}

.footer__row-rules {
  display: flex;
  justify-content: space-between;
}

.footer__privacy-links {}

.footer__terms {
  text-decoration: none;
}

.footer__privacy {
  text-decoration: none;
}

.footer__social-links {
  display: flex;
  list-style-type: none;
}

.footer__social-link {}

.footer__row-copyright {}